/* Stylesheet */

body {
	width: 75%;
	margin: 25px auto 15px auto;
	font-family: Calibri, Arial;
	text-align: center;
	}

header {
	margin-top: 25px;
	}
	
.password{
	font-size: 36px;
	color: white;
	background: black;
	margin-left: 10px;"
	}
#generate {
	text-decoration: none;
	width: 100px;
	height: 25px;
	text-align: center;
	background: grey;
	color: black;
	margin: 0px auto 20px auto;
	border-radius: 5px;
	}
	
label {
	margin-right: 10px;
	}
	
#how_many {
	width: 50px;
	}
	
ol {
	text-align: left;
	margin-left: 32%;
	}
	
pre{
	display: inline;
	font-size: 36px;
	margin: 15px 10px;
	background: black;
	color: white;
	padding: 0px 5px 0px 5px;
	}